- hosts: mac
  tasks:
    # Adding a tap for https://github.com/Homebrew/homebrew-cask-versions
  - name: cask-versions tap
    homebrew_tap:
      name: homebrew/cask-versions
  - name: homebrew
    homebrew:
      name: "{{item}}"
      state: latest
    with_items:
      - git
      - gradle
      - htop
      - maven
      - npm
      - pipenv
      - pstree
      - reattach-to-user-namespace
      - tmux
      - tree
      - watch
      - wget
  - name: macvim
    homebrew:
      name: macvim
      state: latest
      install_options: with-override-system-vim
  - name: cask
    homebrew_cask:
      name: "{{item}}"
      state: latest
    with_items:
      - 1password6
      - airflow
      - alfred
      - android-studio
      - docker
      - dropbox
      - google-chrome-canary
      - intellij-idea-ce
      - iterm2-beta
      - java
      - java8
      - slack
      - slate
      - spotify
      - steam
      - transmission
      - trello
      - vlc
      - whatsapp
      - wireshark
  - name: npm
    npm:
      name: "{{item}}"
      state: latest
      global: yes
    with_items:
      - git-open
  - name: vundle
    git:
      repo: https://github.com/VundleVim/Vundle.vim.git
      dest: ~/.vim/bundle/Vundle.vim
  - name: TPM
    git:
      repo: https://github.com/tmux-plugins/tpm
      dest: ~/.tmux/plugins/tpm
  - name: dotfiles checkout
    shell: 'git init && git remote add origin git@github.com:protocol7/dotfiles.git && git fetch && git checkout master'
    args:
      chdir: ~/
      creates: ~/.git/
