- hosts: mac
  tasks:
  - name: homebrew
    homebrew:
      name: "{{item}}"
      state: latest
    with_items:
      - git
      - gradle
      - htop
      - maven
      - npm
      - pipenv
      - pstree
      - reattach-to-user-namespace
      - tmux
      - tree
      - watch
  - name: macvim
    homebrew:
      name: macvim
      state: latest
      install_options: with-override-system-vim
  - name: cask
    homebrew_cask:
      name: "{{item}}"
      state: latest
    with_items:
      - airflow
      - alfred
      - android-studio
      - docker
      - dropbox
      - google-chrome
      - iterm2
      - slack
      - slate
      - spotify
      - trello
      - vlc
      - whatsapp
  - name: npm
    npm:
      name: "{{item}}"
      state: latest
      global: yes
    with_items:
      - git-open
